.phone{
    color:white;
    position: absolute;
    top: 221px;
    left:45px
}
.input1{
    background-color:white;
    position: absolute;
    top:283px;
    left:47px;
    width:342px
}
.butto2 {
    background-color: #28772b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    border-radius: 12px;
    top:350px;
    left:304px
   
  }

